openapi: 3.1.0
info:
  title: Luciq MCP Server App Hangs Applications API
  description: The Luciq MCP Server is a remote Model Context Protocol server hosted at api.luciq.ai/api/mcp that exposes mobile observability data — applications, crashes, crash patterns, occurrences, app hangs, bugs, and store reviews — as agent-callable tools. This OpenAPI document models the underlying read operations the MCP tools route to so they can be discovered, governed, and reused outside of an MCP client. Transport in production is Streamable HTTP over HTTPS (TLS 1.2+); authentication is OAuth 2.0 with Dynamic Client Registration or a personal access token issued from the Luciq dashboard. Available on all Luciq plans with no extra setup.
  version: '1.0'
  contact:
    name: Luciq Support
    url: https://docs.luciq.ai/product-guides-and-integrations/product-guides/ai-features/luciq-mcp-server
    email: support@luciq.ai
  termsOfService: https://luciq.ai/terms
  license:
    name: Proprietary
    url: https://luciq.ai/terms
servers:
- url: https://api.luciq.ai/api/mcp
  description: Luciq MCP Server (Streamable HTTP)
security:
- oauth2: []
- personalAccessToken: []
tags:
- name: Applications
  description: Enumerate the mobile applications accessible to the authenticated account. Applications are the root scoping primitive for every other MCP tool in this surface.
paths:
  /applications:
    get:
      operationId: listApplications
      summary: List Applications
      description: Returns all applications accessible to the authenticated account. Backs the list_applications MCP tool.
      tags:
      - Applications
      parameters:
      - name: platform
        in: query
        required: false
        description: Filter applications by mobile platform.
        schema:
          type: string
          enum:
          - ios
          - android
          - react_native
          - flutter
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 200
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      responses:
        '200':
          description: A page of applications.
          content:
            application/json:
              schema:
                type: object
                properties:
                  applications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Application'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing, expired, or invalid OAuth token / personal access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
    Application:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        platform:
          type: string
          enum:
          - ios
          - android
          - react_native
          - flutter
        token:
          type: string
          description: Application token used for review queries.
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 with Dynamic Client Registration. The Luciq MCP server advertises its authorization and token endpoints to MCP clients that register dynamically — no pre-shared client ID/secret is required.
      flows:
        authorizationCode:
          authorizationUrl: https://api.luciq.ai/oauth/authorize
          tokenUrl: https://api.luciq.ai/oauth/token
          scopes:
            mcp:read: Read access to applications, crashes, occurrences, hangs, bugs, and reviews
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: token
      description: 'Personal Access Token generated from the Luciq dashboard under Account Management > Luciq MCP. Pass as `Authorization: Bearer <pat>`.'
externalDocs:
  description: Luciq MCP Tools Reference
  url: https://docs.luciq.ai/product-guides-and-integrations/product-guides/ai-features/luciq-mcp-server/mcp-tools-reference
